<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="photoURL">
        <th mat-header-cell *matHeaderCellDef> Foto </th>
        <td mat-cell *matCellDef="let player"> <img height="100" src="{{ player.photoURL }}"/> </td>
      </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let player"> {{player.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
      <td mat-cell *matCellDef="let player"> {{player.apellidos}} </td>
    </ng-container>
   
    <ng-container matColumnDef="fechaNacimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
      <td mat-cell *matCellDef="let player">{{ player.fechaNacimiento.toDate() | date:'dd-MM-yyyy' }} </td>
    </ng-container>
   
    <ng-container matColumnDef="ciudad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
      <td mat-cell *matCellDef="let player"> {{player.ciudad}} </td>
    </ng-container>

    <ng-container matColumnDef="posicion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Posición </th>
        <td mat-cell *matCellDef="let player"> {{player.posicion}} </td>
    </ng-container>
    
    <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef> Cedula </th>
        <td mat-cell *matCellDef="let player"> {{player.cedula}} </td>
    </ng-container>

    <ng-container matColumnDef="camiseta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Camiseta </th>
        <td mat-cell *matCellDef="let player"> {{player.camiseta}} </td>
    </ng-container>

    <ng-container matColumnDef="altura">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Altura </th>
        <td mat-cell *matCellDef="let player"> {{player.altura}} </td>
    </ng-container>

    <ng-container matColumnDef="peso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso </th>
        <td mat-cell *matCellDef="let player"> {{player.peso}} </td>
    </ng-container>
   
    <ng-container matColumnDef="actualizar">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let player">
          <button mat-icon-button color="accent" [routerLink]="['/editar-jugador', player.uid]">
              <mat-icon class="mat-18">system_update</mat-icon>
          </button>
        </td>
      </ng-container>
   
      <ng-container matColumnDef="borrar">
          <th mat-header-cell *matHeaderCellDef> Borrar </th>
          <td mat-cell *matCellDef="let player">
            <button mat-icon-button color="warn" (click)="deletePlayer(player.uid)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<mat-paginator [pageSize]="50" [pageSizeOptions]="[100, 500]">
</mat-paginator>